*{
    box-sizing: border-box;
}
body{
    background-color: #061F70;
    margin: 0;
    min-height: 100vh;
}
header{
    display: flex;
    background-color: #1437AD;
    border-bottom: 3px solid #000;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0 10px;
    align-items: center;
}

header h1{
    color: #fff;
}
header img{
    width: 30px;
    height: auto;
}
.ss{
    height: 50px;
    width: auto;
}
a{
    color: #fff;
    text-decoration: none;
}
main h2{
    margin-top: 0;
    font-size:300%;
    text-align: center;
    color: #fff;
}
.profile{
    margin: auto;
    background-color: #1437AD;
    margin-top: 20px;
    width: 80%;
    border: #000 solid 3px;
    border-radius: 12px;
    padding-bottom: 10px;
}
.profile img{
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}
.profile p{
    color: #fff;
    text-align: center;
}
main a{
    width: 50%;
    display: block;
    background-color: #1437AD;
    border: #000 solid 3px;
    border-radius: 12px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
    color: #fff;
    background-color: #1437AD;
}
label{
    color: #fff;
    justify-content: center;
}
textarea{
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
input{
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
main p{
    color: #FFF;
    display:flex ;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
main li{
    justify-self: center;
    list-style-type: none;
    color: #fff;
}
p text{
    justify-self: center;
}
div a{
    background-color: #061F70;
}
@media(width < 390px){
    header{
        justify-content:center ;
    }
    .ss{
        height: 40px;
    }
}

.enter{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.enter1{
    margin-top: 0;
}