*{
    box-sizing: border-box;
}
body{
    background-color: #061F70;
    margin: 0;
    min-height: 100vh;
}
header{
    display: flex;
    background-color: #1437AD;
    border-bottom: 3px #000 solid;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0 10px;
    align-items: center;
}

header h1{
    color: #fff;
}
header img{
    width: 30px;
    height: auto;
}
.ss{
    height: 50px;
    width: auto;
}
a{
    color: #fff;
    text-decoration: none;
}
main h2{
    margin-top: 0;
    font-size:300%;
    text-align: center;
    color: #fff;
}
main{
    background-color:#061F70 ;
    margin-bottom: 100px;
}
main p{
    font-size: 200%;
    text-align: center;
    color: #fff;
    margin-bottom: auto;
}
footer{
    background-color: #061F70;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: #fff 3px solid;
    border-radius: 15px 15px 0 0;
}
footer h3{
    color: #fff;
    text-align: center;
}
footer div{
    display: flex;
    justify-content: space-around;
}
@media(width < 390px){
    header{
        justify-content:center ;
    }
    .ss{
        height: 40px;
    }
}