*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    margin: 0;
}
header{
    display: flex;
    background-color: #1437AD;
    border-bottom: 3px #000 solid;
    border-radius: 0px 0px 10px 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0 10px;
}


header h1{
    color: #fff;
}
header img{
    width: 30px;
    height: auto;
}
.ss{
    height: 50px;
    width: auto;
}

a{
    color: #fff;
    text-decoration: none;
}
main{
    background-color: #fff;
    margin-bottom: 70px;
}
main ul{
    margin-top: 0;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
main li{
    width:80%;
    background-color: #1437AD;
    margin: auto;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    border: #061F70 3px solid;
    transition: transform .6s ease;
}
.card{
    transition: transform .6s ease;
}
main li:hover{
    background-color: #061F70;
    border: #8EA9FF 3px solid;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer ul{
    list-style-type: none;
    background-color: #061F70;
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
}
.initiative{
    display: block;
    width: 20%;
    background-color: #061F70;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
footer li{
    border-radius: 10px;
}
.pag{
    display: flex;
    justify-content: space-evenly;
}
.pag a{
    color: #000;
    text-align: center;
}
.pag p{
    margin: 0;
}


@media(width < 390px){
    header{
        justify-content:center ;
    }
    .ss{
        height: 40px;
    }
}