{% extends "main/homet.html" %}

{% block main %}
    {% for i in page_obj %}
    <li>
        <h3><a href="{% url 'initiativeCard' i.id %}">{{ i.title }}</a></h3>
        <img src="{{ i.image }}" alt="">
        <p>{{ i.date }}</p>
        <p>{{ i.adres }}</p>
    </li>
    {% endfor %}
{% endblock %}

{% block pag %}
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">&lt; Назад</a>
    {% endif %}
    <p>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}  </p>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Вперёд &gt;</a>
    {% endif %}
{% endblock %}