{% extends "main/inct.html" %}

{% block card %}
    <div>
        <h2>Карточка инициативы {{ initiative.title }}</h2>
        <p>Создан: {{ initiative.date }}</p>
        <p>По адресу: {{ initiative.adres }}</p>
        {% if initiative.image %}
        <img src="{{ initiative.image.url }}" alt="">
        {% endif %}
        <p>Создан: {{ initiative.offering }}</p>
        <p>{{ initiative.text }}</p>
    </div>  
    <h3>КОММЕНТАРИИ</h3>
    {% for i in comments %}
        <div class="comm">
            <p>{{ i.text }}</p>
            <p>Написан: {{ i.author }}</p>
            <p>{{ i.date }}</p>
        </div>
    {% endfor %}
{% endblock %}