{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialSolver</title>
    <link rel="stylesheet" href="{% static 'main/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/home.css'%}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img src="{% static 'main/img/ss.svg' %}" alt="Лого" class="ss"></a>
        <h1>SocialSolver</h1>
        <a href="{% url 'profile' %}"><img src="{% static 'main/img/profile.svg' %}" alt=""></a>
    </header>
    <main>
        <ul>
            {% block main %}
            {% endblock %}
        </ul>
    <a href="{% url 'initiative' %}" class="initiative">Добавить инициативу</a>
    <div class="pag">
        {% block pag %}
        {% endblock %}
    </div>
    <footer>
        <ul>
            <li><a href="{% url 'about' %}">о нас</a></li>
        </ul>
    </footer>
    </main>
</body>
</html>